<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">suprimmil</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable flex flex-col h-screen justify-between"
     onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column justify-content-between">
        <div class="nav flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                    <i class="fa-solid fa-house px-2" /> Home
                </NavLink>
            </div>
            <AuthorizeView Policy="AdminOnly">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users-management">
                        <i class="fa-solid fa-user px-2" /> Usuários
                    </NavLink>
                </div>
            </AuthorizeView>
        </div>
    </nav>

    <div class="p-4 border-t">
        <a href="/logout"
               class="flex items-center w-full px-4 py-3 text-red-600 rounded-lg hover:bg-red-50 transition duration-200">

            <svg class="w-5 h-5 mr-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                </path>
            </svg>

            Logout
        </a>
    </div>
</div>