<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Suprimmil</title>
    <link rel="stylesheet" href="/output.css" />
</head>
<body>
    @RenderBody()
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>