@page "/"
@rendermode InteractiveServer
@namespace suprimmil.Components.Pages
@using suprimmil.Components.Content

<PageTitle>Suprimmil - Engenharia e Montagem Industrial</PageTitle>

<div class="scroll-smooth">
    <Topbar />
    <Navbar />

    <section id="banner" class="relative">
        <Banners />
        <div class="absolute top-0 left-0 w-full bg-black/50 z-20">
            <Addressbar />
        </div>
    </section>

    <section id="missao-visao-valores" class="relative -mt-10 z-30 px-4">
        <Cards />
    </section>

    <section id="quemsomos">
        <StatsSection />
    </section>

    <section id="clientes">
        <ClientsCarousel />
    </section>

    <section id="segmentos">
        <Segments />
    </section>

    <section id="contato">
        <Footer />
    </section>
</div>
