@namespace suprimmil.Components.Content


<div class="max-w-7xl mx-auto px-4 py-2 flex justify-between items-center flex-wrap text-white text-sm">
    <div class="flex items-center gap-6">
        <span class="flex flex-row gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-map-pin-icon lucide-map-pin">
                <path
                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                <circle cx="12" cy="10" r="3" />
            </svg>
            <span> Rodovia, PA-481, S/N - Águas Verdes, Barcarena - PA, 68445-000 </span>
        </span>
        |
        <span class="flex flex-row gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-map-pin-icon lucide-map-pin">
                <path
                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                <circle cx="12" cy="10" r="3" />
            </svg>
            <span> BR 316 Km 8, Nº 195, Centro, Ananindeua, PA </span>
        </span>
    </div>

    <div class="flex items-center">
        <div class="flex gap-3 text-white text-xl">
            <a href="#"><i class="bi bi-whatsapp"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>